<?xml version="1.0"?>
<!--
/**
 * Dependency Injection Configuration
 *
 * @category  Ashokdubariya
 * @package   Ashokdubariya_LoginAsCustomer
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    
    <!-- Virtual Type for Audit Log Grid Collection -->
    <virtualType name="Ashokdubariya\LoginAsCustomer\Model\ResourceModel\AuditLog\Grid\Collection" 
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">ashokdubariya_login_as_customer_log</argument>
            <argument name="resourceModel" xsi:type="string">Ashokdubariya\LoginAsCustomer\Model\ResourceModel\AuditLog</argument>
        </arguments>
    </virtualType>
    
    <!-- Data Provider for UI Component Grid -->
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="ashokdubariya_loginascustomer_audit_log_listing_data_source" xsi:type="string">Ashokdubariya\LoginAsCustomer\Model\ResourceModel\AuditLog\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    
    <!-- Preference for Data Interface -->
    <preference for="Ashokdubariya\LoginAsCustomer\Api\Data\AuditLogInterface"
                type="Ashokdubariya\LoginAsCustomer\Model\AuditLog"/>
    
    <!-- Plugin to add action to customer grid -->
    <type name="Magento\Customer\Ui\Component\Listing\Column\Actions">
        <plugin name="ashokdubariya_loginascustomer_customer_grid_actions" 
                type="Ashokdubariya\LoginAsCustomer\Plugin\CustomerGridActionsPlugin" 
                sortOrder="100"/>
    </type>
</config>
