<?xml version="1.0"?>
<!--
/**
 * Admin Menu Configuration
 *
 * @category  Ashokdubariya
 * @package   Ashokdubariya_LoginAsCustomer
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Ashokdubariya_LoginAsCustomer::audit_log"
             title="Login as Customer - Audit Log"
             module="Ashokdubariya_LoginAsCustomer"
             sortOrder="100"
             parent="Magento_Customer::customer"
             action="loginascustomer/audit/index"
             resource="Ashokdubariya_LoginAsCustomer::audit_log"/>
    </menu>
</config>
